<section class="main">
  <section class="hero row">
    <h1 class="title">
      iOS 固件下载工具
    </h1>
    <div class="description">
      <h3 style="margin-bottom:20px;"><strong class="title">iOS 7.1.1 更新内容</strong>：<a href="http://tech.163.com/14/0423/01/9QFRFL6O000915BF.html" target="_blank">链接</a></h3>
      <ol>
        <li>
          <p><strong>如何辨别型号，即 Axxx？</strong></p>
          <p>答：设备背面靠下部分有几排文字，其中「型号（Model）」后的文字即为准确型号。</p>
        </li>
        <li>
          <p><strong>何为「新 GSM」？</strong></p>
          <p>答：4S 上市后出的 iPhone 4 8G 版，部分国行 8G 属此型号。</p>
        </li>
      </ol>
    </div>
  </section>

  <section class="main-content">
    <div class="row input-section">
      <input id="modelInput" class="text-center" ng-model="deviceModel" placeholder="填入你的设备信息，如：5s、iPad41、A1530" autofocus autocomplete="off" model-input>
    </div>

    <div class="row button-section">
      <div class="button-item">
        <a class="button" dropdown-toggle="#iphone-toggle">iPhone &raquo;</a>
        <ul id="iphone-toggle" class="medium f-dropdown">
          <li ng-repeat="iphone in iphones"><a smooth-scroll target="iphone" ng-click="setModel(iphone.id)">{{iphone.name}} - {{iphone.model}}</a></li>
        </ul>
      </div>
      <div class="button-item">
        <a class="button" dropdown-toggle="#ipad-toggle">iPad &raquo;</a>
        <ul id="ipad-toggle" class="medium f-dropdown">
          <li ng-repeat="ipad in ipads"><a smooth-scroll target="ipad" ng-click="setModel(ipad.id)">{{ipad.name}} - {{ipad.model}}</a></li>
        </ul>
      </div>
      <div class="button-item">
        <a class="button" dropdown-toggle="#ipad-mini-toggle">iPad Mini &raquo;</a>
        <ul id="ipad-mini-toggle" class="medium f-dropdown">
          <li ng-repeat="ipadmini in ipadminis"><a smooth-scroll target="ipadmini" ng-click="setModel(ipadmini.id)">{{ipadmini.name}} - {{ipadmini.model}}</a></li>
        </ul>
      </div>
      <div class="button-item">
        <a class="button" dropdown-toggle="#ipod-toggle">iPod Touch &raquo;</a>
        <ul id="ipod-toggle" class="f-dropdown">
          <li ng-repeat="ipod in ipods"><a smooth-scroll target="ipod" ng-click="setModel(ipod.id)">{{ipod.name}} - {{ipod.model}}</a></li>
        </ul>
      </div>
      <div class="button-item">
        <a class="button" dropdown-toggle="#atv-toggle">Apple TV &raquo;</a>
        <ul id="atv-toggle" class="f-dropdown">
          <li ng-repeat="atv in atvs"><a smooth-scroll target="atv" ng-click="setModel(atv.id)">{{atv.name}} - {{atv.model}}</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="main-content tables">
    <div class="row" id="iphone">
      <h2 class="title">iPhone</h2>
      <div class="table" ng-repeat="iphone in iphones | filter:deviceModel.split(' ')[0]" id="{{iphone.id}}">
        <h3 class="sub-title">{{iphone.name}} - {{iphone.model}}</h3>
        <table>
          <thead>
            <tr>
              <th width="200">版本号</th>
              <th width="200">下载地址</th>
              <th width="200">其他下载方式</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat = "firmware in iphone.firmwares">
              <td>{{firmware.version}}</td>
              <td><a ng-href="{{firmware.addr}}" target="_blank">下载</a></td>
              <td>下载</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" id="ipad">
      <h2 class="title">iPad</h2>
      <div class="table" ng-repeat="ipad in ipads | filter:deviceModel.split(' ')[0]" id="{{ipad.id}}">
        <h3 class="sub-title">{{ipad.name}} - {{ipad.model}}</h3>
        <table>
          <thead>
            <tr>
              <th width="200">版本号</th>
              <th width="200">下载地址</th>
              <th width="200">其他下载方式</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat = "firmware in ipad.firmwares">
              <td>{{firmware.version}}</td>
              <td><a ng-href="{{firmware.addr}}" target="_blank">下载</a></td>
              <td>下载</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" id="ipadmini">
      <h2 class="title">iPad mini</h2>
      <div class="table" ng-repeat="ipadmini in ipadminis | filter:deviceModel.split(' ')[0]" id="{{ipadmini.id}}">
        <h3 class="sub-title">{{ipadmini.name}} - {{ipadmini.model}}</h3>
        <table>
          <thead>
            <tr>
              <th width="200">版本号</th>
              <th width="200">下载地址</th>
              <th width="200">其他下载方式</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat = "firmware in ipadmini.firmwares">
              <td>{{firmware.version}}</td>
              <td><a ng-href="{{firmware.addr}}" target="_blank">下载</a></td>
              <td>下载</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" id="ipod">
      <h2 class="title">iPod Touch</h2>
      <div class="table" ng-repeat="ipod in ipods | filter:deviceModel.split(' ')[0]" id="{{ipod.id}}">
        <h3 class="sub-title">{{ipod.name}} - {{ipod.model}}</h3>
        <table>
          <thead>
            <tr>
              <th width="200">版本号</th>
              <th width="200">下载地址</th>
              <th width="200">其他下载方式</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat = "firmware in ipod.firmwares">
              <td>{{firmware.version}}</td>
              <td><a ng-href="{{firmware.addr}}" target="_blank">下载</a></td>
              <td>下载</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" id="atv">
      <h2 class="title">Apple TV</h2>
      <div class="table" ng-repeat="atv in atvs | filter:deviceModel.split(' ')[0]" id="{{atv.id}}">
        <h3 class="sub-title">{{atv.name}} - {{atv.model}}</h3>
        <table>
          <thead>
            <tr>
              <th width="200">版本号</th>
              <th width="200">下载地址</th>
              <th width="200">其他下载方式</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat = "firmware in atv.firmwares">
              <td>{{firmware.version}}</td>
              <td><a ng-href="{{firmware.addr}}" target="_blank">下载</a></td>
              <td>下载</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>